# Python Functions, Files, and Dictionaries

# Opening a File

In [ ]:
fileref = open("filename.txt", "r")
fileref.close()

# Reading from a file

- file_variable.write("Text") , adds it to the end of the file
- file_variable.read(n) , returns the string of 'n' characters or the entire file
- file_variable.readline() , returns the string upto the newline 
- file_variable.readlines() , returns a list of string upto the newline

# Number of Lines in a Python File

In [ ]:
num_lines = sum(1 for line in open('travel_plans2.txt'))
#or
num_lines= len(open("travel_plans2.txt").readlines(  ))

# Using with to Open Files
- When the program exits the with block, the context manager handles the common stuff that normally happens at the end, in our case closing a file

In [ ]:
with open('mydata.txt', 'r') as md:
    for line in md:
        print(line)
# continue on with other code

# Writing data to a CSV File

In [ ]:
olympians = [("John Aalberg", 31, "Cross Country Skiing"),
             ("Minna Maarit Aalto", 30, "Sailing"),
             ("Win Valdemar Aaltonen", 54, "Art Competitions"),
             ("Wakako Abe", 18, "Cycling")]

outfile = open("reduced_olympics.csv", "w")
# output the header row
outfile.write('Name,Age,Sport')
outfile.write('\n')
# output each of the rows:
for olympian in olympians:
    row_string = '{},{},{}'.format(olympian[0], olympian[1], olympian[2])
    outfile.write(row_string)
    outfile.write('\n')
outfile.close()

# Dictionaries

In [14]:
# Creating an Empty Dictionary 
d={}
# Creating an Empty List
l=[]

#Creating a dictionary with some elements
eng2sp = {'three': 'tres', 'one': 'uno', 'two': 2}
print(eng2sp)

{'three': 'tres', 'one': 'uno', 'two': 'dos'}

# Operations on Dictionary
-  Dictionaries are mutable

In [20]:
# delete
eng2sp['two']=0
del eng2sp['two']
# append
eng2sp['two']=3
eng2sp['two']=eng2sp['two']+2
print(eng2sp)
print(len(eng2sp))

{'three': 'tres', 'one': 'uno', 'entry': 0, 'two': 5}
4

In [37]:
# iterating over elements in the dictionary
# Keys are not iterated in the order always
for i in eng2sp.keys():
    print(i)
for i in eng2sp.values():
    print(i)

three
one
entry
two
tres
uno
0
5

# Converting the the dictionary into the List

In [31]:
# list of all the keys
l=list(eng2sp.keys())
print(l)
# list of all the values
l=list(eng2sp.values()) #values , items are same
print(l)

['three', 'one', 'entry', 'two']
['tres', 'uno', 0, 5]

# The in and not in operators can test if a key is in the dictionary

In [1]:
inventory = {'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}
if 'bananas' in inventory:
    print(inventory['bananas'])

312

# The GET() method for Dictionary

In [2]:
print(inventory.get("cherries"))
print(inventory.get("cherries",0))

None
0

# Aliasing and Copying
- Whenever two variables refer to the same dictionary object, changes to one affect the other

In [6]:
opposites = {'up': 'down', 'right': 'wrong', 'true': 'false'}
alias = opposites
print(alias)
del opposites['up']
print(alias)
acopy=alias.copy()
del alias['true']
print(acopy)

{'up': 'down', 'right': 'wrong', 'true': 'false'}
{'right': 'wrong', 'true': 'false'}
{'right': 'wrong', 'true': 'false'}

# Creating N-gram count of every character the book

In [7]:
#f = open('scarlet.txt', 'r')
#txt = f.read()
txt="THis is the sample text to feed in the word processor"
# now txt is one long string containing all the characters
x = {} # start with an empty dictionary
for c in txt:
    if c not in x:
        # we have not seen this character before, so initialize a counter for it
        x[c] = 0

    #whether we've seen it before or not, increment its counter
    x[c] = x[c] + 1

print("t: " + str(x['t']) + " occurrences")
print("s: " + str(x['s']) + " occurrences")

t: 5 occurrences
s: 5 occurrences

In [1]:
product = "iphone and android phones"
l=product.split()
lett_d={}
max_value=0
for i in l:
    for a in i:
        if a not in lett_d:
            lett_d[a]=1
        else:
            lett_d[a]=lett_d[a]+1
print(lett_d)
tmp=list(lett_d.values())
tmp=max(tmp)
print(tmp)
max_value=None
for i in lett_d:
    if lett_d[i]==tmp:
        max_value=i
        break
print(max_value)

{'i': 2, 'p': 2, 'h': 2, 'o': 3, 'n': 4, 'e': 2, 'a': 2, 'd': 3, 'r': 1, 's': 1}
4
n

# Function docstring

In [5]:
def sample_function():
    """this will serve as function name and example in IDE Intellisense"""
    print("Hello World")
    
sample_function()
print(type(sample_function))

Hello World
<class 'function'>

# Function Returning Value

In [1]:
def square(x):
    y = x * x
    return y

toSquare = 10
result = square(toSquare)
print("The result of {} squared is {}.".format(toSquare, result))

The result of 10 squared is 100.

# Tuples
-  Wherever python expects a single value, if multiple expressions are provided, separated by commas, they are automatically packed into a tuple

In [ ]:
julia = ("Julia", "Roberts", 1967, "Duplicity", 2009, "Actress", "Atlanta, Georgia")
# or equivalently
julia = "Julia", "Roberts", 1967, "Duplicity", 2009, "Actress", "Atlanta, Georgia"
print(julia[4])

#  Tuples as Return Values
- Functions can return tuples as return values.

In [ ]:
def circleInfo(r):
    """ Return (circumference, area) of a circle of radius r """
    c = 2 * 3.14159 * r
    a = 3.14159 * r * r
    return (c, a)

print(circleInfo(10))

# Tuple Assignment with Unpacking

In [2]:
julia = "Julia", "Roberts", 1967, "Duplicity", 2009, "Actress", "Atlanta, Georgia"

name, surname, birth_year, movie, movie_year, profession, birth_place = julia

# Swapping Values between Variables

In [3]:
a = 1
b = 2
(a, b) = (b, a)
print(a, b)

2 1

# Unpacking Into Iterator Variables

In [5]:
authors = [['Paul', 'Resnick'], ('Brad', 'Miller'), ('Lauren', 'Murphy')]
for first_name, last_name in authors:
    print("first name:", first_name, "last name:", last_name)

first name: Paul last name: Resnick
first name: Brad last name: Miller
first name: Lauren last name: Murphy

# Enumerate

In [6]:
fruits = ['apple', 'pear', 'apricot', 'cherry', 'peach']
for idx, fruit in enumerate(fruits):
    print(idx, fruit)

0 apple
1 pear
2 apricot
3 cherry
4 peach

# Iterating of Dictionary into Tuples

In [5]:
pokemon = {'Rattata': 19, 'Machop': 66, 'Seel': 86, 'Volbeat': 86, 'Solrock': 126}
p_names=[]
p_number=[]
for i in (pokemon.items()):
    p_names.append(i[0])
    p_number.append(i[1])

print(p_names)
print(p_number)

['Rattata', 'Machop', 'Seel', 'Volbeat', 'Solrock']
[19, 66, 86, 86, 126]

# Unpacking Tuples as Arguments to Function Calls

In [8]:
def add(x, y):
    return x + y

print(add(3, 4))
z = (5, 4)
#print(add(z)) # this line will cause the error  
print(add(*z))

7
9

# Break and Continue

In [9]:
x = 0
while x < 10:
    print("we are incrementing x")
    if x % 2 == 0:
        x += 3
        continue
    if x % 3 == 0:
        x += 5
    x += 1
print("Done with our loop! X has the value: " + str(x))

we are incrementing x
we are incrementing x
we are incrementing x
Done with our loop! X has the value: 15

# Optional Parameters

In [ ]:
print(int("100"))
print(int("100", 10))   # same thing, 10 is the default value for the base
print(int("100", 8))     # now the base is 8, so the result is 1*64 = 64

[Formal Paramters as Dictionary](https://docs.python.org/3/tutorial/controlflow.html#keyword-arguments)
When a final formal parameter of the form **name is present, it receives a dictionary (see Mapping Types — dict) containing all keyword arguments except for those corresponding to a formal parameter. This may be combined with a formal parameter of the form *name (described in the next subsection) which receives a tuple containing the positional arguments beyond the formal parameter list. (*name must occur before **name.)

# Keyword Parameters with .format

In [1]:
names_scores = [("Jack",[67,89,91]),("Emily",[72,95,42]),("Taylor",[83,92,86])]
for name, scores in names_scores:
    print("The scores {nm} got were: {s1},{s2},{s3}.".format(nm=name,s1=scores[0],s2=scores[1],s3=scores[2]))

The scores Jack got were: 67,89,91.
The scores Emily got were: 72,95,42.
The scores Taylor got were: 83,92,86.

# .format() method ....

In [2]:
# but this also works!
names = ["Jack","Jill","Mary"]
for n in names:
    print("'{0}!' she yelled. '{0}! {0}, {1}!'".format(n,"say hello"))

'Jack!' she yelled. 'Jack! Jack, say hello!'
'Jill!' she yelled. 'Jill! Jill, say hello!'
'Mary!' she yelled. 'Mary! Mary, say hello!'

# Anonymous functions with lambda expressions
- lambda arguments: expression

In [5]:
print(lambda x: x-2)
print(type(lambda x: x-2))
print((lambda x: x-2)(6))

<function <lambda> at 0x7f194824f7a0>
<class 'function'>
4

# Introduction: Sorting with Sort and Sorted

In [1]:
L1 = [1, 7, 4, -2, 3]
L2 = ["Cherry", "Apple", "Blueberry"]
L1.sort()
print(L1)

[-2, 1, 3, 4, 7]

# Sorted(Optional reverse parameter)

In [4]:
def absolute(x):
    if x >= 0:
        return x
    else:
        return -x
L2 = ["Cherry", "Apple", "Blueberry"]
print(sorted(L2, reverse=True))
print(sorted(L1, reverse=True, key=absolute))

['Cherry', 'Blueberry', 'Apple']
[7, 4, 3, -2, 1]

In [5]:
ex_lst = ['hi', 'how are you', 'bye', 'apple', 'zebra', 'dance']
def second_let(x):
    return x[1]
sorted_by_second_let=(sorted(ex_lst,reverse=False,key=second_let))

# Lambdas + Reverse Parameters

In [ ]:
nums = ['1450', '33', '871', '19', '14378', '32', '1005', '44', '8907', '16']

nums_sorted_lambda =(sorted(nums,reverse=True,key=lambda x:x[-1]))

# Sorting Dictionaries (keys,values,items)
- Sorting dictionaries simple example

In [7]:
L = ['E', 'F', 'B', 'A', 'D', 'I', 'I', 'C', 'B', 'A', 'D', 'D', 'E', 'D']

d = {}
for x in L:
    if x in d:
        d[x] = d[x] + 1
    else:
        d[x] = 1

# now loop through the sorted keys
for k in sorted(d, key=lambda k: d[k], reverse=True):
      print("{} appears {} times".format(k, d[k]))

D appears 4 times
E appears 2 times
B appears 2 times
A appears 2 times
I appears 2 times
F appears 1 times
C appears 1 times

# Sorting Dictionaries based on key Values

In [26]:
dictionary = {"Flowers": 10, 'Trees': 20, 'Chairs': 6, "Firepit": 1, 'Grill': 2, 'Lights': 14}
tmp=sorted(dictionary.items())
tmp2=sorted(dictionary.keys())
tmp3=sorted(dictionary.values())
print(tmp)
print(tmp2)
print(tmp3)
if (tmp)==(tmp2):
    print("Idenitcal")
sorted_keys=[]
for i in tmp:
    sorted_keys.append(i[0])
    

#print(sorted_keys)

[('Chairs', 6), ('Firepit', 1), ('Flowers', 10), ('Grill', 2), ('Lights', 14), ('Trees', 20)]
['Chairs', 'Firepit', 'Flowers', 'Grill', 'Lights', 'Trees']
[1, 2, 6, 10, 14, 20]

# Sorting Dictionaries based on Values

In [28]:
dictionary = {"Flowers": 10, 'Trees': 20, 'Chairs': 6, "Firepit": 1, 'Grill': 2, 'Lights': 14}
# sorting only the values()
tmp=sorted(dictionary.values())
tmp2=sorted(dictionary.items(),reverse=False,key= lambda x:(x[1],x[0]))
print(tmp2)

sorted_keys=[]
print(tmp)
#for i in tmp:
    #sorted_keys.append(i[0])

print(sorted_keys)

[('Firepit', 1), ('Grill', 2), ('Chairs', 6), ('Flowers', 10), ('Lights', 14), ('Trees', 20)]
[1, 2, 6, 10, 14, 20]
[]

In [14]:

groceries = {'apples': 5, 'pasta': 3, 'carrots': 12, 'orange juice': 2, 'bananas': 8, 'popcorn': 1, 'salsa': 3, 'cereal': 4, 'coffee': 5, 'granola bars': 15, 'onions': 7, 'rice': 1, 'peanut butter': 2, 'spinach': 9}

tmp=sorted(groceries.keys())
grocery_keys_sorted=[]
for i in tmp:
    grocery_keys_sorted.append(i)
    
print(grocery_keys_sorted)

['apples', 'bananas', 'carrots', 'cereal', 'coffee', 'granola bars', 'onions', 'orange juice', 'pasta', 'peanut butter', 'popcorn', 'rice', 'salsa', 'spinach']

# Breaking Ties: Second Sorting
What happens when two items are “tied” in the sort order? For example, suppose we sort a list of words by their lengths. Which five letter word will appear first?

The answer is that the python interpreter will sort the tied items in the same order they were in before the sorting

In [30]:
fruits = ['peach', 'kiwi', 'apple', 'blueberry', 'papaya', 'mango', 'pear']
new_order = sorted(fruits, key=lambda fruit_name: (len(fruit_name), fruit_name))
for fruit in new_order:
    print(fruit)

kiwi
pear
apple
mango
peach
papaya
blueberry

# Using the Negative Length in Python

In [32]:
fruits = ['peach', 'kiwi', 'apple', 'blueberry', 'papaya', 'mango', 'pear']
new_order = sorted(fruits, key=lambda fruit_name: (-len(fruit_name), fruit_name))
for fruit in new_order:
    print(fruit)

blueberry
papaya
apple
mango
peach
kiwi
pear

In [33]:
weather = {'Reykjavik': {'temp':60, 'condition': 'rainy'},
           'Buenos Aires': {'temp': 55, 'condition': 'cloudy'},
           'Cairo': {'temp': 96, 'condition': 'sunny'},
           'Berlin': {'temp': 89, 'condition': 'sunny'},
           'Caloocan': {'temp': 78, 'condition': 'sunny'}}

sorted_weather = sorted(weather, key=lambda w: (w, -weather[w]['temp']), reverse=True)
print(sorted_weather)

['Reykjavik', 'Caloocan', 'Cairo', 'Buenos Aires', 'Berlin']

# Using Lambda vs Functions
-Though you can often use a lambda expression or a named function interchangeably when sorting, it’s generally best to use lambda expressions until the process is too complicated, and then a function should be used

### Simple Labda Expression

In [34]:
states = {"Minnesota": ["St. Paul", "Minneapolis", "Saint Cloud", "Stillwater"],
          "Michigan": ["Ann Arbor", "Traverse City", "Lansing", "Kalamazoo"],
          "Washington": ["Seattle", "Tacoma", "Olympia", "Vancouver"]}

print(sorted(states, key=lambda state: len(states[state][0])))

['Washington', 'Minnesota', 'Michigan']

### Complex Lambda Expression

In [35]:
def s_cities_count(city_list):
    ct = 0
    for city in city_list:
        if city[0] == "S":
            ct += 1
    return ct

states = {"Minnesota": ["St. Paul", "Minneapolis", "Saint Cloud", "Stillwater"],
          "Michigan": ["Ann Arbor", "Traverse City", "Lansing", "Kalamazoo"],
          "Washington": ["Seattle", "Tacoma", "Olympia", "Vancouver"]}

print(sorted(states, key=lambda state: s_cities_count(states[state])))

['Michigan', 'Washington', 'Minnesota']

In [38]:
letters = "alwnfiwaksuezlaeiajsdl"
sorted_letters=sorted(letters,reverse=True)

In [45]:
medals = {'Japan':41, 'Russia':56, 'South Korea':21, 'United States':121, 'Germany':42, 'China':70}

tmp=sorted(medals.items(),reverse=True,key=lambda x:(x[1],x[0]))
top_three=[]
for i in range(3):
    top_three.append(tmp[i][0])

[('United States', 121), ('China', 70), ('Russia', 56), ('Germany', 42), ('Japan', 41), ('South Korea', 21)]
[('United States', 121), ('China', 70), ('Russia', 56)]

In [48]:
groceries = {'apples': 5, 'pasta': 3, 'carrots': 12, 'orange juice': 2, 'bananas': 8, 'popcorn': 1, 'salsa': 3, 'cereal': 4, 'coffee': 5, 'granola bars': 15, 'onions': 7, 'rice': 1, 'peanut butter': 2, 'spinach': 9}
print(len(groceries))
tmp=sorted(groceries.items(),reverse=True,key=lambda x:(x[1],x[0]))
print(len(tmp))

14
14

In [49]:
def last_four(x):
    tmp=str(x)
    itmp=tmp[-1]+tmp[-2]+tmp[-3]+tmp[-4]
    return(str(itmp))
        

sorted_ids=[]
ids = [17573005, 17572342, 17579000, 17570002, 17572345, 17579329]

sorted_ids=sorted(ids,reverse=False,key=lambda x:last_four(x))

In [50]:
groceries = {'apples': 5, 'pasta': 3, 'carrots': 12, 'orange juice': 2, 'bananas': 8, 'popcorn': 1, 'salsa': 3, 'cereal': 4, 'coffee': 5, 'granola bars': 15, 'onions': 7, 'rice': 1, 'peanut butter': 2, 'spinach': 9}

tmp=sorted(groceries.items(),reverse=True,key=lambda x:(x[1],x[0]))
most_needed=[]
for i in range(len(groceries)):
    most_needed.append(tmp[i][0])

In [51]:

ids = [17573005, 17572342, 17579000, 17570002, 17572345, 17579329]

def last_four(x):
    tmp=str(x)
    itmp=tmp[-1]+tmp[-2]+tmp[-3]+tmp[-4]
    return(str(itmp))
        

sorted_ids=[]
sorted_id=sorted(ids,reverse=False,key=lambda x:last_four(x))
print(sorted_id)

[17579000, 17570002, 17572342, 17573005, 17572345, 17579329]

In [54]:
ids = [17573005, 17572342, 17579000, 17570002, 17572345, 17579329]
sorted_id=sorted(ids, key=lambda x: str(x)[-4:])
print(sorted_id)

[17570002, 17572342, 17572345, 17573005, 17579000, 17579329]

# Test Project Sentiment Analysis 

- 1.Clean up the Data  : remove the following listed characted from the string

In [37]:
punctuation_chars = ["'", '"', ",", ".", "!", ":", ";", '#', '@']


def strip_punctuation(x):
    for i in x:
        
        print(i)
        if i in punctuation_chars:
            print("Match Found")
            x=x.replace(i,'')
    
    print(x)
    return x
strip_punctuation("#hell@o")

#
Match Found
h
e
l
l
@
Match Found
o
hello

'hello'

In [31]:
s=str(7)
print(7%9)
while True:
    sum =0
    for i in s:
        sum=sum+int(i)**2
    print(sum)
    if sum==1:
        print("True")
        break
    else:
        s=str(sum)

7
49
97
130
10
1
True